target/*
target/classes/META-INF/MANIFEST.MF
target/classes/WEB-INF/faces-config.xml
target/classes/WEB-INF/mvc-dispatcher-servlet.xml
target/classes/WEB-INF/web.xml
target/classes/applicationContext.xml
target/classes/cliente.xhtml
target/classes/co/edu/usbcali/demo/controller/ClienteRest.class
target/classes/co/edu/usbcali/demo/controller/OperacionesMatematicas.class
target/classes/co/edu/usbcali/demo/dao/ClienteHibernateDAO.class
target/classes/co/edu/usbcali/demo/dao/ConsignacioneHibernateDAO.class
target/classes/co/edu/usbcali/demo/dao/CuentaHibernateDAO.class
target/classes/co/edu/usbcali/demo/dao/IClienteDAO.class
target/classes/co/edu/usbcali/demo/dao/IConsignacionesDAO.class
target/classes/co/edu/usbcali/demo/dao/ICuentasDAO.class
target/classes/co/edu/usbcali/demo/dao/IRetirosDAO.class
target/classes/co/edu/usbcali/demo/dao/ITipoDocumentoDAO.class
target/classes/co/edu/usbcali/demo/dao/ITiposUsuariosDAO.class
target/classes/co/edu/usbcali/demo/dao/IUsuarioDAO.class
target/classes/co/edu/usbcali/demo/dao/RetiroHibernateDAO.class
target/classes/co/edu/usbcali/demo/dao/TipoDocumentoHibernateDAO.class
target/classes/co/edu/usbcali/demo/dao/TipoUsuarioHibernateDAO.class
target/classes/co/edu/usbcali/demo/dao/UsuarioHibernateDAO.class
target/classes/co/edu/usbcali/demo/delegado/DelegadoDeNegocio.class
target/classes/co/edu/usbcali/demo/delegado/IDelegadoDeNegocio.class
target/classes/co/edu/usbcali/demo/dto/ClienteDTO.class
target/classes/co/edu/usbcali/demo/dto/OperacionesMatematicas.class
target/classes/co/edu/usbcali/demo/dto/Resultado.class
target/classes/co/edu/usbcali/demo/logica/ClienteLogica.class
target/classes/co/edu/usbcali/demo/logica/ConsignacionLogica.class
target/classes/co/edu/usbcali/demo/logica/CuentaLogica.class
target/classes/co/edu/usbcali/demo/logica/IClienteLogica.class
target/classes/co/edu/usbcali/demo/logica/IConsignacionLogica.class
target/classes/co/edu/usbcali/demo/logica/ICuentaLogica.class
target/classes/co/edu/usbcali/demo/logica/IRetiroLogica.class
target/classes/co/edu/usbcali/demo/logica/ITipoDocumentoLogica.class
target/classes/co/edu/usbcali/demo/logica/ITiposUsuariosLogica.class
target/classes/co/edu/usbcali/demo/logica/ITransaccionLogica.class
target/classes/co/edu/usbcali/demo/logica/IUsuarioLogica.class
target/classes/co/edu/usbcali/demo/logica/RetiroLogica.class
target/classes/co/edu/usbcali/demo/logica/TipoDocumentoLogica.class
target/classes/co/edu/usbcali/demo/logica/TipoUsuarioLogica.class
target/classes/co/edu/usbcali/demo/logica/TransaccionLogica.class
target/classes/co/edu/usbcali/demo/logica/UsuarioLogica.class
target/classes/co/edu/usbcali/demo/modelo/Clientes.class
target/classes/co/edu/usbcali/demo/modelo/Consignaciones.class
target/classes/co/edu/usbcali/demo/modelo/ConsignacionesId.class
target/classes/co/edu/usbcali/demo/modelo/Cuentas.class
target/classes/co/edu/usbcali/demo/modelo/Retiros.class
target/classes/co/edu/usbcali/demo/modelo/RetirosId.class
target/classes/co/edu/usbcali/demo/modelo/TiposDocumentos.class
target/classes/co/edu/usbcali/demo/modelo/TiposUsuarios.class
target/classes/co/edu/usbcali/demo/modelo/Usuarios.class
target/classes/co/edu/usbcali/demo/vista/ClienteVista.class
target/classes/co/edu/usbcali/demo/vista/TransaccionVista.class
target/classes/co/edu/usbcali/demo/vista/UsuarioVista.class
target/classes/hibernate.cfg.xml
target/classes/index.xhtml
target/classes/listaClientes.xhtml
target/classes/listaUsuarios.xhtml
target/classes/log4j2.xml
target/classes/transacciones.xhtml
target/classes/usuario.xhtml
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-cli/createdFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-cli/inputFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
target/surefire-reports/TEST-co.edu.usbcali.demo.controller.test.ClienteDAOTest.xml
target/surefire-reports/TEST-co.edu.usbcali.demo.controller.test.ClienteRestTest.xml
target/surefire-reports/TEST-co.edu.usbcali.demo.controller.test.OperacionesMatematicasTest.xml
target/surefire-reports/TEST-co.edu.usbcali.demo.dao.test.ClienteDAOTest.xml
target/surefire-reports/TEST-co.edu.usbcali.demo.logica.test.ClienteLogicaTest.xml
target/surefire-reports/TEST-co.edu.usbcali.demo.logica.test.ConsignacionesLogicaTest.xml
target/surefire-reports/TEST-co.edu.usbcali.demo.logica.test.CuentaLogicaTest.xml
target/surefire-reports/TEST-co.edu.usbcali.demo.logica.test.RetiroLogicaTest.xml
target/surefire-reports/TEST-co.edu.usbcali.demo.logica.test.TipoUsuarioLogicaTest.xml
target/surefire-reports/TEST-co.edu.usbcali.demo.logica.test.TiposDocumentosLogicaTest.xml
target/surefire-reports/TEST-co.edu.usbcali.demo.logica.test.UsuarioLogicaTest.xml
target/surefire-reports/co.edu.usbcali.demo.controller.test.ClienteDAOTest.txt
target/surefire-reports/co.edu.usbcali.demo.controller.test.ClienteRestTest.txt
target/surefire-reports/co.edu.usbcali.demo.controller.test.OperacionesMatematicasTest.txt
target/surefire-reports/co.edu.usbcali.demo.dao.test.ClienteDAOTest.txt
target/surefire-reports/co.edu.usbcali.demo.logica.test.ClienteLogicaTest.txt
target/surefire-reports/co.edu.usbcali.demo.logica.test.ConsignacionesLogicaTest.txt
target/surefire-reports/co.edu.usbcali.demo.logica.test.CuentaLogicaTest.txt
target/surefire-reports/co.edu.usbcali.demo.logica.test.RetiroLogicaTest.txt
target/surefire-reports/co.edu.usbcali.demo.logica.test.TipoUsuarioLogicaTest.txt
target/surefire-reports/co.edu.usbcali.demo.logica.test.TiposDocumentosLogicaTest.txt
target/surefire-reports/co.edu.usbcali.demo.logica.test.UsuarioLogicaTest.txt
target/test-classes/co/edu/usbcali/demo/controller/test/ClienteDAOTest.class
target/test-classes/co/edu/usbcali/demo/controller/test/ClienteRestTest.class
target/test-classes/co/edu/usbcali/demo/controller/test/OperacionesMatematicasTest.class
target/test-classes/co/edu/usbcali/demo/dao/test/ClienteDAOTest.class
target/test-classes/co/edu/usbcali/demo/logica/test/ClienteLogicaTest.class
target/test-classes/co/edu/usbcali/demo/logica/test/ConsignacionesLogicaTest.class
target/test-classes/co/edu/usbcali/demo/logica/test/CuentaLogicaTest.class
target/test-classes/co/edu/usbcali/demo/logica/test/RetiroLogicaTest.class
target/test-classes/co/edu/usbcali/demo/logica/test/TipoUsuarioLogicaTest.class
target/test-classes/co/edu/usbcali/demo/logica/test/TiposDocumentosLogicaTest.class
target/test-classes/co/edu/usbcali/demo/logica/test/UsuarioLogicaTest.class
target/test-classes/co/edu/usbcali/demo/test/ConfiguracionSpring.class
target/demoWeb-0.0.1-SNAPSHOT/WEB-INF/lib/slf4j-api-1.7.21.jar
target/demoWeb-0.0.1-SNAPSHOT/WEB-INF/lib/spring-aop-4.2.5.RELEASE.jar
target/demoWeb-0.0.1-SNAPSHOT/WEB-INF/lib/spring-beans-4.2.5.RELEASE.jar
target/demoWeb-0.0.1-SNAPSHOT/WEB-INF/lib/spring-context-4.2.5.RELEASE.jar
target/demoWeb-0.0.1-SNAPSHOT/WEB-INF/lib/spring-core-4.2.5.RELEASE.jar
target/demoWeb-0.0.1-SNAPSHOT/WEB-INF/lib/spring-expression-4.2.5.RELEASE.jar
target/demoWeb-0.0.1-SNAPSHOT/WEB-INF/lib/spring-jdbc-4.2.5.RELEASE.jar
target/demoWeb-0.0.1-SNAPSHOT/WEB-INF/lib/spring-orm-4.2.5.RELEASE.jar
target/demoWeb-0.0.1-SNAPSHOT/WEB-INF/lib/spring-test-4.2.5.RELEASE.jar
target/demoWeb-0.0.1-SNAPSHOT/WEB-INF/lib/spring-tx-4.2.5.RELEASE.jar
target/demoWeb-0.0.1-SNAPSHOT/WEB-INF/lib/spring-web-4.2.5.RELEASE.jar
target/demoWeb-0.0.1-SNAPSHOT/WEB-INF/lib/spring-webmvc-4.2.5.RELEASE.jar
target/demoWeb-0.0.1-SNAPSHOT/WEB-INF/lib/validation-api-1.1.0.Final.jar
target/demoWeb-0.0.1-SNAPSHOT/WEB-INF/lib/xml-apis-1.0.b2.jar
target/maven-archiver/pom.properties
target/test-classes/applicationContext.xml
target/test-classes/Clientes.hbm.xml
target/test-classes/Consignaciones.hbm.xml
target/test-classes/Cuentas.hbm.xml
target/test-classes/hibernate.cfg.xml
target/test-classes/log4j2.xml
target/test-classes/Retiros.hbm.xml
target/test-classes/TiposDocumentos.hbm.xml
target/test-classes/TiposUsuarios.hbm.xml
target/test-classes/Usuarios.hbm.xml
target/demoWeb-0.0.1-SNAPSHOT/WEB-INF/lib/jandex-2.0.0.Final.jar
target/demoWeb-0.0.1-SNAPSHOT/WEB-INF/lib/javassist-3.20.0-GA.jar
target/demoWeb-0.0.1-SNAPSHOT/WEB-INF/lib/javax.el-api-2.2.4.jar
target/demoWeb-0.0.1-SNAPSHOT/WEB-INF/lib/javax.faces-2.0.8.jar
target/demoWeb-0.0.1-SNAPSHOT/WEB-INF/lib/jboss-logging-3.3.0.Final.jar
target/demoWeb-0.0.1-SNAPSHOT/WEB-INF/lib/log4j-api-2.5.jar
target/demoWeb-0.0.1-SNAPSHOT/WEB-INF/lib/log4j-core-2.5.jar
target/demoWeb-0.0.1-SNAPSHOT/WEB-INF/lib/log4j-slf4j-impl-2.5.jar
target/demoWeb-0.0.1-SNAPSHOT/WEB-INF/lib/postgresql-9.4.1208.jre7.jar
target/demoWeb-0.0.1-SNAPSHOT/WEB-INF/lib/primefaces-5.3.jar
target/demoWeb-0.0.1-SNAPSHOT/WEB-INF/classes/co/edu/usbcali/demo/modelo/Usuarios.class
target/demoWeb-0.0.1-SNAPSHOT/WEB-INF/classes/co/edu/usbcali/demo/vista/ClienteVista.class
target/demoWeb-0.0.1-SNAPSHOT/WEB-INF/classes/co/edu/usbcali/demo/vista/TransaccionVista.class
target/demoWeb-0.0.1-SNAPSHOT/WEB-INF/classes/co/edu/usbcali/demo/vista/UsuarioVista.class
target/demoWeb-0.0.1-SNAPSHOT/WEB-INF/classes/META-INF/MANIFEST.MF
target/demoWeb-0.0.1-SNAPSHOT/WEB-INF/classes/WEB-INF/faces-config.xml
target/demoWeb-0.0.1-SNAPSHOT/WEB-INF/classes/WEB-INF/mvc-dispatcher-servlet.xml
target/demoWeb-0.0.1-SNAPSHOT/WEB-INF/classes/WEB-INF/web.xml
target/demoWeb-0.0.1-SNAPSHOT/WEB-INF/lib/antlr-2.7.7.jar
target/demoWeb-0.0.1-SNAPSHOT/WEB-INF/lib/aopalliance-1.0.jar
target/demoWeb-0.0.1-SNAPSHOT/WEB-INF/lib/classmate-1.1.0.jar
target/demoWeb-0.0.1-SNAPSHOT/WEB-INF/lib/commons-logging-1.2.jar
target/demoWeb-0.0.1-SNAPSHOT/WEB-INF/lib/dom4j-1.6.1.jar
target/demoWeb-0.0.1-SNAPSHOT/WEB-INF/lib/geronimo-jta_1.1_spec-1.1.1.jar
target/demoWeb-0.0.1-SNAPSHOT/WEB-INF/lib/hibernate-commons-annotations-5.0.1.Final.jar
target/demoWeb-0.0.1-SNAPSHOT/WEB-INF/lib/hibernate-core-5.1.0.Final.jar
target/demoWeb-0.0.1-SNAPSHOT/WEB-INF/lib/hibernate-jpa-2.1-api-1.0.0.Final.jar
target/demoWeb-0.0.1-SNAPSHOT/WEB-INF/lib/hibernate-validator-5.3.0.Alpha1.jar
target/demoWeb-0.0.1-SNAPSHOT/WEB-INF/lib/jackson-annotations-2.5.0.jar
target/demoWeb-0.0.1-SNAPSHOT/WEB-INF/lib/jackson-core-2.5.1.jar
target/demoWeb-0.0.1-SNAPSHOT/WEB-INF/lib/jackson-core-asl-1.9.13.jar
target/demoWeb-0.0.1-SNAPSHOT/WEB-INF/lib/jackson-databind-2.5.1.jar
target/demoWeb-0.0.1-SNAPSHOT/WEB-INF/lib/jackson-mapper-asl-1.9.13.jar
/target/
/bin/
